
<form class="form padding" id="addelementform" action="api/contentelements" method="POST">
  <input type="text" name="urld"/>
  <input type="text" name="userID"/>
  <input type="text" name="parent"/>
  <input type="text" name="title"/>
  <input type="text" name="meta_title"/>
  <input type="text" name="meta_descr"/>
  <input type="text" name="kind"/>
  <input type="text" name="status"/>
  <input type="text" name="tags"/>
  <textarea name="description"></textarea>
  <textarea name="content"></textarea>
</form>