div.card.no-padding.margin-t.flex.justify-content-space-between
    .user_email.padding-sm {{email}}
    .user_role.padding-sm {{role}}
    .user_btns.flex
        .edit_btn.btn.btn-primary Edit
        .delete_btn.btn.btn-danger Delete
