#res {
  background: red; }

.mainwrap_sidebar {
  background: white;
  height: 100vh;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); }

.mainwrap_content {
  padding: 2em; }

.userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .userinfo .userinfo_ava {
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
    .userinfo .userinfo_ava img {
      width: 6em;
      height: 6em; }
  .userinfo .userinfo_content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.5em; }
    .userinfo .userinfo_content .userinfo_content_username {
      text-align: right; }
    .userinfo .userinfo_content .userinfo_content_role {
      text-align: right; }
    .userinfo .userinfo_content .userinfo_content_btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .userinfo .userinfo_content .userinfo_content_btns .userinfo_content_btns_edit {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        text-align: right; }
      .userinfo .userinfo_content .userinfo_content_btns .userinfo_content_btns_exit {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        text-align: right; }
