
<div class="padding"></div>
<div class="padding"></div>
<div class="padding"></div>
<div class="padding"></div>
<div class="padding"></div>
<div class="col">
  <div class="col-4"></div>
  <div class="col-4 card">
    <h1 class="txt-center">Gorest admin</h1>
    <form class="form loginform" id="loginform" action="api/users/login" method="POST">
      <input type="text" id="loginemail" placeholder="Element email.." name="email" value=""/>
      <input type="password" id="loginpassword" placeholder="Element password.." name="password" value=""/>
      <input class="btn-primary" id="loginsubmit" type="submit"/>
    </form>
  </div>
  <div class="col-4"></div>
</div>