
<div class="col">
  <div class="col-2 padding"></div>
  <div class="col-2 padding"></div>
  <div class="col-2 padding">
    <div class="pills pills-primary">
      <div class="pills_name">Test</div>
      <div class="pills_value">23</div>
    </div>
  </div>
  <div class="col-2 padding">
    <div class="pills pills-secondary">
      <div class="pills_name">Test</div>
      <div class="pills_value">23</div>
    </div>
  </div>
  <div class="col-2 padding">
    <div class="pills pills-success">
      <div class="pills_name">Test</div>
      <div class="pills_value">23</div>
    </div>
  </div>
  <div class="col-2 padding">
    <div class="pills pills-danger">
      <div class="pills_name">Test</div>
      <div class="pills_value">23</div>
    </div>
  </div>
</div>