
<div class="userinfo">
  <div class="userinfo_ava"><img src="https://avatars0.githubusercontent.com/u/2754533?s=460&amp;v=4" alt="{{username}}"/></div>
  <div class="userinfo_content">
    <div class="userinfo_content_username">{{username}}</div>
    <div class="userinfo_content_role">{{role}}</div>
    <div class="userinfo_content_btns">
      <div class="userinfo_content_btns_edit"><i class="fa fa-pencil-square-o"></i>Edit</div>
      <div class="userinfo_content_btns_exit"><i class="fa fa-sign-out"></i>Exit</div>
    </div>
  </div>
</div>