form.form.margin-t.margin-b#addelementform.padding(action="api/contentelements" method="POST")
    .col
        .col-6
            input(type="text" name="urld")
            input(type="text" name="userID")
            input(type="text" name="parent")
            input(type="text" name="title")
            textarea(name="description")
            input(type="text" name="meta_title")
            input(type="text" name="meta_descr")
            input(type="text" name="kind")
            input(type="text" name="status")
            input(type="text" name="tags")
        .col-6
            textarea(name="content")
