form.form
    input(type="text" name="all" placeholder="type to search...")
    .col.margin-t
        .col-4
        .col-4.btn.btn-success.txt-center#add_element_btn Add Element
.col
    .col-12#add_element_worm_wrap
