.col
    .col-2.padding
    .col-2.padding
    .col-2.padding
        .pills.pills-primary
            .pills_name Test
            .pills_value 23
    .col-2.padding
        .pills.pills-secondary
            .pills_name Test
            .pills_value 23
    .col-2.padding
        .pills.pills-success
            .pills_name Test
            .pills_value 23
    .col-2.padding
        .pills.pills-danger
            .pills_name Test
            .pills_value 23
