.userinfo
    .userinfo_ava
        img(src="https://avatars0.githubusercontent.com/u/2754533?s=460&v=4" alt="{{username}}")
    .userinfo_content
        .userinfo_content_username {{username}}
        .userinfo_content_role {{role}}
        .userinfo_content_btns
            .userinfo_content_btns_edit
                i.fa.fa-pencil-square-o
                | Edit
            .userinfo_content_btns_exit
                i.fa.fa-sign-out
                | Exit

